.user-card {
    background-color: #ebebeb;
    padding: 1% 6%;

}

.user-info {
    text-align: left;
}

.title {
    margin: 2% 0;
}

.location, .job-title, .employer, ol, li {
    margin: 1% 0;
}

.movies {
    margin: 3% 0;
}

.title {
    display: flex;
    justify-content: flex-start;
}

.title h3 {
    border-bottom: 1px solid #34a5da;
}

.index {
    display: flex;
    justify-content: flex-end;
}